<div
  class="ember-apex-chart {{this.guid}} {{@classNames}}"
  {{did-insert this.createChart}}
  {{did-update this.createChart
    @chartOptions
    @height
    @series
    @type
    @width
  }}
  {{will-destroy this.destroyChart}}
  ...attributes
>
</div>