<h2 id="title">Ember Apex Charts</h2>

<ApexChart
 @chartOptions={{this.lineChartOptions}}
/>

<ApexChart
 @type={{this.type}}
 @width={{this.width}}
 @height={{this.height}}
 @series={{this.series}}
 @chartOptions={{this.barOptions}}
/>